.present{
background-color: rgb(255, 255, 255);

}
.past{
background-color: rgb(177, 77, 77);

}

.future{
background-color: rgb(80, 80, 177);
}
.jumbotron{
    background-color: white;
}

.display-2{
    text-align: center;
}
#currentDay{
    text-align: center;
}